body {
  margin: 0;
  padding: 0;
}
#headerContainer {
  display: flex;
  background-color: lightblue;
  width: 100%;
  min-height: 80px;
  position: fixed;
  flex-direction: row;
}
.logo {
  flex: 1;
}
.nav-bar {
  flex: 4;
}
.search-bar {
  flex: 2;
}
.userCardContainer {
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
  background-color: lightgray;
}
