body {
  margin: 0;
  padding: 0;
}
#headerContainer {
  display: flex;
  /* background-color: brown; */
  width: 100%;
  min-height: 80px;
  position: fixed;
  flex-direction: row;
}
.logo {
  flex: 1;
  background-color: aliceblue;
}
.nav-bar {
  flex: 4;
  background-color: aqua;
}
.search-bar {
  flex: 2;
  background-color: aquamarine;
}
.userCardContainer {
  display: flex;
  flex: 1;
  align-content: center;
  justify-content: center;
}
