body {
  margin: 0;
  padding: 0;
}
.header-container {
  display: flex;
  background-color: rgb(84, 169, 197);
  width: 100%;
  min-height: 80px;
  position: fixed;
  flex-direction: row;
}
.logo {
  flex: 1;
}
.nav-bar {
  flex: 1;
}
.search-bar {
  display: flex;
  flex: 1;
}
.usercard-container {
  display: flex;
  flex: 0.5;
  align-content: center;
  justify-content: center;
  background-color: rgb(225, 221, 230);
}
