.logout-btn {
  display: flex;
  position: relative;
  top: 350px;
  margin-left: 45%;
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 9px 22px;
  cursor: pointer;
  border: none;
}
