.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(49, 21, 151);
  gap: 12px;
  margin: 5% 35%;
  padding: 35px 55px;
  border-radius: 7px;
  background-color: #fafafa;
  box-shadow: 0.5px 0.5px 1px 1px rgb(122, 169, 212);
}
.email {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  align-self: flex-start;
}

.password {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  align-self: flex-start;
  border: none;
  outline: none;
}
.input {
  border-radius: 7px;
  padding: 7px;
  opacity: 50%;
  border: none;
  outline: none;
}

.para {
  color: red;
  align-self: center;
}
.button:enabled {
  border-radius: 7px;
  padding: 6px;
  background-color: rgb(43, 43, 110);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  border: none;
}
.button:disabled {
  border-radius: 7px;
  padding: 6px;
  background-color: rgb(122, 169, 212);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  border: none;
}
