.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid rgb(49, 21, 151);
  gap: 12px;
  margin: 5% 35%;
  padding: 45px;
  border-radius: 7px;
  background-color: #fafafa;
  box-shadow: 0.5px 0.5px 1px 1px rgb(122, 169, 212);
}

.userData {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  align-self: flex-start;
  margin-left: 32px;
}
.selectOpn {
  margin-left: 32px;
  width: 352px;
  min-height: 32px;
  border-radius: 7px;
  border: none;
}
.input1 {
  align-self: center;
  opacity: 50%;
  padding: 7px;
  border-radius: 7px;
  width: 158px;
}
.inputField {
  width: 100%;
  align-self: center;
  opacity: 50%;
  padding: 7px;
  border-radius: 7px;
  width: 80%;
}
.para {
  color: red;
  align-self: center;
}
.userNameField {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  width: 50%;
  gap: 8px;
  flex-direction: row;
  margin-left: 30px;
}

.button:enabled {
  border-radius: 7px;
  padding: 6px;
  background-color: rgb(43, 43, 110);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  width: 85%;
  margin-left: 32px;
  cursor: pointer;
}
.button:disabled {
  border-radius: 7px;
  padding: 6px;
  background-color: rgb(199, 222, 245);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  width: 85%;
  margin-left: 32px;
}
