.container {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(49, 21, 151);
  justify-content: center;
  border-radius: 7px;
  margin: 2% 35%;
  background-color: #fafafa;
  box-shadow: 0.5px 0.5px 1px 1px rgb(122, 169, 212);
}

.userData {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}
.selectOpn {
  min-height: 32px;
  border-radius: 5px;
  border: none;
  outline: none;
}
.input1 {
  width: 100%;
  border-radius: 7px;
  padding: 5px;
  border: none;
  outline: none;
}
.inputField {
  width: 100%;
  border-radius: 7px;
  padding: 5px;
  border: none;
}
.para {
  color: red;
}
.userNameField {
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.button:enabled {
  border-radius: 6px;
  background-color: rgb(43, 43, 110);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  cursor: pointer;
  border: none;
}
.button:disabled {
  border-radius: 6px;
  background-color: rgb(199, 222, 245);
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
  border: none;
}
