.search-bar-container {
  display: flex;
  width: 100%;
}

.search-input {
  display: flex;
  align-self: center;
  border-radius: 30px;
  outline: none;
  border: none;
  width: calc(100% - 120px);
  padding: 9px 20px;
  position: relative;
}
.search-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
  position: absolute;
  gap: 12px;
  top: 100px;
  width: 410px;
  border-radius: 30px;
  box-shadow: 0.5px 0.5px 2px 2px #888;
}
.search-item {
  display: flex;
  width: 300px;
  background-color: white;
  color: black;
  border-radius: 50%;
}
