.search-bar-container {
  display: flex;
  width: 100%;
  position: relative;
}
.search-input {
  display: flex;
  align-self: center;
  border-radius: 30px;
  outline: none;
  border: none;
  width: calc(100% - 150px);
  padding: 9px 20px;
}
.search-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: calc(100% - 100px);
  min-height: 165px;
  gap: 15px;
  top: 100px;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background-color: white;
}
.search-item {
  display: flex;
  flex: 0 0 auto;
  background-color: white;
  border-radius: 50%;
  gap: 15px;
  align-self: center;
}

img {
  width: 25px;
  height: 20px;
}
